MONGODB_URI=mongodb+srv://<user>:<password>@<host>/api_testing_tool?retryWrites=true&w=majority
NODE_ENV=development
PORT=5000
CLIENT_ORIGIN=http://localhost:5173

JWT_ACCESS_TOKEN=your_jwt_access_token
ACCESS_TOKEN_TTL=15m   #sample 15 mins
REFRESH_TOKEN_TTL_DAYS=7    #sample 7 days for refresh token limit
BCRYPT_SALT_ROUNDS=12